docs/n8n/kian-social-content-automation.json
{
  "name": "Kian Social - Content Automation (DRAFTS ONLY)",
  "nodes": [
    {
      "parameters": {},
      "id": "c3000000-0000-4000-8000-000000000001",
      "name": "Generate Drafts (manual)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-700, 240],
      "notes": "Run manually while testing. To automate later, add a Schedule Trigger (e.g. daily 09:00) wired into 'Read Content Calendar'. NEVER auto-publish."
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "={{ $env.KIAN_CONTENT_SHEET_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Calendar", "mode": "list", "cachedResultName": "Calendar" },
        "options": {}
      },
      "id": "c3000000-0000-4000-8000-000000000002",
      "name": "Read Content Calendar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-480, 240],
      "notes": "Reads every row. Select your Google Sheets credential on import. Sheet columns: date, platform, topic, service, target_audience, hook, caption, hashtags, asset_link, status, approval, publish_time, notes, row_number."
    },
    {
      "parameters": {
        "jsCode": "// Select rows that NEED a draft: have a topic, no caption yet, and are not\n// already approved/published. Keeps the AI from re-writing approved copy.\nconst out = [];\nfor (const item of $input.all()) {\n  const r = item.json;\n  const status = String(r.status || '').toLowerCase();\n  const approval = String(r.approval || '').toLowerCase();\n  const hasTopic = String(r.topic || '').trim().length > 0;\n  const hasCaption = String(r.caption || '').trim().length > 0;\n  if (hasTopic && !hasCaption && approval !== 'approved' && status !== 'published') {\n    out.push({ json: r });\n  }\n}\nreturn out;"
      },
      "id": "c3000000-0000-4000-8000-000000000003",
      "name": "Select Rows Needing Drafts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-260, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-opus-4-8',\n  max_tokens: 2000,\n  system: 'أنت كاتب محتوى تسويقي محترف لشركة كيان ميديا (إنتاج فيديو/تصوير سينمائي في السعودية). اكتب بالعربية الفصحى السهلة بنبرة راقية وواثقة وبشرية تمامًا — لا تبدو وكأنها مولّدة آليًا، تجنّب الكليشيهات والإيموجي المفرط والعبارات المبالغ فيها. التزم بهوية علامة كيان: فاخرة، احترافية، موجزة. أعِد فقط كائن JSON صالح بهذا الشكل بدون أي نص إضافي: {\\\"hook\\\":\\\"...\\\",\\\"caption\\\":\\\"...\\\",\\\"hashtags\\\":\\\"#..\\\",\\\"cta\\\":\\\"...\\\"} حيث caption مخصّص للمنصة المطلوبة وبطولها المناسب.',\n  messages: [{ role: 'user', content: 'المنصة: ' + ($json.platform||'') + '\\nالموضوع: ' + ($json.topic||'') + '\\nالخدمة: ' + ($json.service||'') + '\\nالجمهور المستهدف: ' + ($json.target_audience||'') + '\\nزاوية الجذب المقترحة: ' + ($json.hook||'') + '\\nملاحظات: ' + ($json.notes||'') + '\\n\\nاكتب نسخة منشور مخصّصة لهذه المنصة فقط، ثم أعد JSON فقط.' }]\n}) }}",
        "options": {
          "response": { "response": { "neverError": true, "fullResponse": false } }
        }
      },
      "id": "c3000000-0000-4000-8000-000000000004",
      "name": "Claude Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-40, 240],
      "onError": "continueRegularOutput",
      "notes": "Anthropic Messages API. Requires ANTHROPIC_API_KEY in n8n env (server-side). Model claude-opus-4-8. Do NOT add temperature/top_p (removed on this model — would 400)."
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's JSON reply and merge it back onto the original calendar row.\n// Robust to code fences / stray text around the JSON object.\nconst out = [];\nfor (let i = 0; i < $input.all().length; i++) {\n  const resp = $input.all()[i].json;\n  const src = $('Select Rows Needing Drafts').all()[i]?.json || {};\n  let text = '';\n  try { text = resp?.content?.[0]?.text || ''; } catch (e) { text = ''; }\n  let parsed = {};\n  try {\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    parsed = m ? JSON.parse(m[0]) : {};\n  } catch (e) { parsed = {}; }\n  out.push({ json: {\n    row_number: src.row_number,\n    caption: parsed.caption || '',\n    hashtags: parsed.hashtags || '',\n    hook: parsed.hook || src.hook || '',\n    status: parsed.caption ? 'Ready for Review' : 'Draft Failed',\n    approval: src.approval || ''\n  }});\n}\nreturn out;"
      },
      "id": "c3000000-0000-4000-8000-000000000005",
      "name": "Parse Claude JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 240]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "={{ $env.KIAN_CONTENT_SHEET_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Calendar", "mode": "list", "cachedResultName": "Calendar" },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["row_number"],
          "value": {
            "row_number": "={{ $json.row_number }}",
            "caption": "={{ $json.caption }}",
            "hashtags": "={{ $json.hashtags }}",
            "hook": "={{ $json.hook }}",
            "status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "c3000000-0000-4000-8000-000000000006",
      "name": "Write Draft → Ready for Review",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [400, 240],
      "notes": "Writes the AI draft back and sets status = 'Ready for Review'. It does NOT touch the 'approval' column — a human sets that to 'Approved' before anything can publish."
    },
    {
      "parameters": {},
      "id": "c3000000-0000-4000-8000-000000000007",
      "name": "Notify Owner (placeholder)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [620, 240],
      "notes": "Replace with your owner-notification channel (Gmail / Slack / WhatsApp template / Kian portal). Message: 'New social drafts are Ready for Review in the content calendar.' Do not include secrets."
    },

    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 30 }] }
      },
      "id": "c3000000-0000-4000-8000-000000000010",
      "name": "Publish Scheduler (DISABLED)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-700, 560],
      "disabled": true,
      "notes": "DISABLED on purpose. Enable ONLY after each platform's publishing API + permissions are reviewed and approved. The approval gate below still blocks anything not explicitly 'Approved'."
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "={{ $env.KIAN_CONTENT_SHEET_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Calendar", "mode": "list", "cachedResultName": "Calendar" },
        "options": {}
      },
      "id": "c3000000-0000-4000-8000-000000000011",
      "name": "Read Calendar (publish)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-480, 560]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "version": 2 },
          "combinator": "and",
          "conditions": [
            { "id": "g1", "leftValue": "={{ String($json.approval || '').toLowerCase() }}", "rightValue": "approved", "operator": { "type": "string", "operation": "equals" } },
            { "id": "g2", "leftValue": "={{ String($json.status || '').toLowerCase() }}", "rightValue": "published", "operator": { "type": "string", "operation": "notEquals" } },
            { "id": "g3", "leftValue": "={{ $json.asset_link || '' }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }
          ]
        },
        "options": {}
      },
      "id": "c3000000-0000-4000-8000-000000000012",
      "name": "Approval Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-260, 560],
      "notes": "HARD GATE: only rows with approval='Approved', not already published, and a non-empty asset_link pass. Missing asset → never posts. FALSE branch is a no-op."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "version": 2 }, "combinator": "and", "conditions": [ { "leftValue": "={{ String($json.platform||'').toLowerCase() }}", "rightValue": "linkedin", "operator": { "type": "string", "operation": "contains" } } ] }, "outputKey": "LinkedIn" },
            { "conditions": { "options": { "caseSensitive": false, "version": 2 }, "combinator": "and", "conditions": [ { "leftValue": "={{ String($json.platform||'').toLowerCase() }}", "rightValue": "instagram", "operator": { "type": "string", "operation": "contains" } } ] }, "outputKey": "Instagram" },
            { "conditions": { "options": { "caseSensitive": false, "version": 2 }, "combinator": "and", "conditions": [ { "leftValue": "={{ String($json.platform||'').toLowerCase() }}", "rightValue": "tiktok", "operator": { "type": "string", "operation": "contains" } } ] }, "outputKey": "TikTok" },
            { "conditions": { "options": { "caseSensitive": false, "version": 2 }, "combinator": "and", "conditions": [ { "leftValue": "={{ String($json.platform||'').toLowerCase() }}", "rightValue": "youtube", "operator": { "type": "string", "operation": "contains" } } ] }, "outputKey": "YouTube" },
            { "conditions": { "options": { "caseSensitive": false, "version": 2 }, "combinator": "and", "conditions": [ { "leftValue": "={{ String($json.platform||'').toLowerCase() }}", "rightValue": "x", "operator": { "type": "string", "operation": "contains" } } ] }, "outputKey": "X" }
          ]
        },
        "options": {}
      },
      "id": "c3000000-0000-4000-8000-000000000013",
      "name": "By Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-40, 560]
    },
    { "parameters": {}, "id": "c3000000-0000-4000-8000-000000000014", "name": "Publish LinkedIn (DISABLED)", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [200, 380], "notes": "Placeholder. Wire to LinkedIn API only after app review + permissions. Use asset_link as the media." },
    { "parameters": {}, "id": "c3000000-0000-4000-8000-000000000015", "name": "Publish Instagram (DISABLED)", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [200, 470], "notes": "Placeholder. Instagram Graph API (Business account) only after review." },
    { "parameters": {}, "id": "c3000000-0000-4000-8000-000000000016", "name": "Publish TikTok (DISABLED)", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [200, 560], "notes": "Placeholder. TikTok Content Posting API only after approval." },
    { "parameters": {}, "id": "c3000000-0000-4000-8000-000000000017", "name": "Publish YouTube (DISABLED)", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [200, 650], "notes": "Placeholder. YouTube Data API (Shorts) only after approval." },
    { "parameters": {}, "id": "c3000000-0000-4000-8000-000000000018", "name": "Publish X (DISABLED)", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [200, 740], "notes": "Placeholder. X/Twitter API if/when available." },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "={{ $env.KIAN_CONTENT_SHEET_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Calendar", "mode": "list", "cachedResultName": "Calendar" },
        "columns": { "mappingMode": "defineBelow", "matchingColumns": ["row_number"], "value": { "row_number": "={{ $json.row_number }}", "status": "Published" } },
        "options": {}
      },
      "id": "c3000000-0000-4000-8000-000000000019",
      "name": "Mark Published",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 560],
      "disabled": true,
      "notes": "DISABLED until real publishing is enabled — otherwise rows would be marked Published without actually posting."
    }
  ],
  "connections": {
    "Generate Drafts (manual)": { "main": [[{ "node": "Read Content Calendar", "type": "main", "index": 0 }]] },
    "Read Content Calendar": { "main": [[{ "node": "Select Rows Needing Drafts", "type": "main", "index": 0 }]] },
    "Select Rows Needing Drafts": { "main": [[{ "node": "Claude Draft", "type": "main", "index": 0 }]] },
    "Claude Draft": { "main": [[{ "node": "Parse Claude JSON", "type": "main", "index": 0 }]] },
    "Parse Claude JSON": { "main": [[{ "node": "Write Draft → Ready for Review", "type": "main", "index": 0 }]] },
    "Write Draft → Ready for Review": { "main": [[{ "node": "Notify Owner (placeholder)", "type": "main", "index": 0 }]] },

    "Publish Scheduler (DISABLED)": { "main": [[{ "node": "Read Calendar (publish)", "type": "main", "index": 0 }]] },
    "Read Calendar (publish)": { "main": [[{ "node": "Approval Gate", "type": "main", "index": 0 }]] },
    "Approval Gate": { "main": [[{ "node": "By Platform", "type": "main", "index": 0 }], []] },
    "By Platform": {
      "main": [
        [{ "node": "Publish LinkedIn (DISABLED)", "type": "main", "index": 0 }],
        [{ "node": "Publish Instagram (DISABLED)", "type": "main", "index": 0 }],
        [{ "node": "Publish TikTok (DISABLED)", "type": "main", "index": 0 }],
        [{ "node": "Publish YouTube (DISABLED)", "type": "main", "index": 0 }],
        [{ "node": "Publish X (DISABLED)", "type": "main", "index": 0 }]
      ]
    },
    "Publish LinkedIn (DISABLED)": { "main": [[{ "node": "Mark Published", "type": "main", "index": 0 }]] },
    "Publish Instagram (DISABLED)": { "main": [[{ "node": "Mark Published", "type": "main", "index": 0 }]] },
    "Publish TikTok (DISABLED)": { "main": [[{ "node": "Mark Published", "type": "main", "index": 0 }]] },
    "Publish YouTube (DISABLED)": { "main": [[{ "node": "Mark Published", "type": "main", "index": 0 }]] },
    "Publish X (DISABLED)": { "main": [[{ "node": "Mark Published", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
